blockquote{
    margin:.5em 1em; padding:0.4em 50px; line-height:1.5em; min-height:50px;
    border-width:0; border-color:#ccc; border-style:solid;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    background-color:#eee;
    background-image:url(bg/testy-quote-open.gif),url(bg/testy-quote-close.gif);
    background-position:left top,right bottom;
    background-repeat:no-repeat;
    background:#eee url(bg/testy-quote-open.gif) no-repeat\9;/* IE6, IE7, IE8 */
}
blockquote.info{
    color:#00f;
    padding-left:50px;
    background-image:url(bg/info-48.png);
    background-position:left top;
}
blockquote.success{
    color:#008000;
    padding-left:72px;
    background-image:url(bg/accept-64.png);
    background-position:left top;
}
blockquote.error{
    color:#f00;
    padding-left:72px;
    background-image:url(bg/error-64.png);
    background-position:left top;
}
blockquote.warn{
    color:#ff981f;
    padding-left:50px;
    background-image:url(bg/warning-48.png);
    background-position:left top;
}
