/*<![CDATA[*/
#HTAutoComplete2FloatLayer{font-family:verdana;border:0px solid #0066cc;font-size:14px;}
.HTAutoComplete2ListBox{background-color:#d6e9fc;border:1px solid #4499ee;padding:2px;cursor:default;}
.HTAutoComplete2ItemOn{background-color:#4499ee;color:#ffffff;padding:1px;}
.HTAutoComplete2ItemOff{background-color:#d6e9fc;color:#000000;padding:1px;}
.HTAutoComplete2ListItemTextHighLight{font-weight:bolder;}
/*]]>*/