html,body {
    color:#666666;
    font-family:Arial,Verdana,Helvetica,sans-serif;
    font-size:18px;
    margin:0; padding:0;
    height:100%;
}
#wrapper{width:960px; height:100%; margin:0 auto;}
#main-nav{width:100%; margin:0 auto; left:0; top:0;}
    #main-nav ul{list-style-type:none; margin:0; padding:0; height:37px; overflow:hidden;}
    #main-nav ul:after{content:"\0020"; display:block; height:0; clear:both;}
    #main-nav ul{zoom:1;}
        #main-nav ul li{list-style-type:none; margin:0 0 0 0px; padding:0; float:left; background:transparent url(img/bg_topSearch3.gif) no-repeat scroll -5px 0; border-left:0px solid #dedede; height:37px;}
        #main-nav ul li.first{background-position:0 0;}
        #main-nav ul li.last{background-position:right 0;}
        #main-nav ul li.actived, #main-nav ul li:hover{background-image:url(img/bg_topSearch3-on.gif);}
            #main-nav ul li a{text-decoration:none; color:#666; margin:0; height:37px; line-height:35px; padding:0 16px; display:block;}
            #main-nav ul li.actived a{color:#f60; padding:0 24px; font-weight:bold;}

#main-container{width:100%; margin:0 auto; font-size:1.2em;}
#footer{background-color:#f8f8f8; border-top:1px dashed #eee; text-align:right; font-size:.8em; color:#999; padding:5px;}
#liner{width:100%; margin:0 auto; padding:6px 0; color:#ccc; font-size:.9em; border-width:1px; border-style:solid; border-color:#ddd #aaa #aaa #ddd; background:#fff url(img/more.gif) repeat-x; height:22px; text-align:center;}
