/*<![CDATA[*/
.HTArchivesListItem{border-top:1px solid #ffffff;}

.HTArchivesBox{
  margin:0; 
  padding:0; 
  /*list-style-type:none;*/
  background:transparent;
  font-family:verdana,helvetica,arial,'sans-serif';
  /*font-size:0.85em;*/line-height:1em;background-color:#ffffff;
}
.HTArchivesX1,.HTArchivesX2,.HTArchivesX3,.HTArchivesX4{display:block;font-size:1px;
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ 
}
.HTArchivesX1,.HTArchivesX2,.HTArchivesX3{
    height:1px;}
/*.x2,.x3,.x4{
    border-left:5px solid #ABC6EA;
    border-right:5px solid #ABC6EA;
    background-color:#ABC6EA;}*/
.HTArchivesX1 {
    margin:0 5px;}
.HTArchivesX2{
    margin:0 3px;
    border-width:0 2px;}
.HTArchivesX3{margin:0 2px;}
.HTArchivesX4{height:2px;margin:0 1px;}

.HTArchiverLessBoxBorder{
    display:block;
    color:#000000;
    text-align:left;
    background-color:#e0ecff;
    border-left:5px solid #e0ecff; 
    border-right:5px solid #e0ecff;}
.HTArchiverLessBoxTitle{cursor:pointer;
    color:#ABC6EA;
    text-align:left;
    font-weight:bolder;
    background-color:#e0ecff;
    border-left:5px solid #e0ecff; 
    border-right:5px solid #e0ecff;}

.HTArchiverBoxBorder{
    display:block;
    color:#000000;
    text-align:left;
    background-color:#99ccff;
    border-left:5px solid #99ccff; 
    border-right:5px solid #99ccff;}
.HTArchiverBoxTitle{cursor:pointer;
    color:#ffffff;
    text-align:left;
    font-weight:bolder;
    background-color:#99ccff;
    border-left:5px solid #99ccff; 
    border-right:5px solid #99ccff;}
.HTArchiverBoxBody{
    display:block;
    padding:0.5em;
    color:#000000;
    text-align:left;
    line-height:1.5em;
    background-color:#ffffff;
    border-left:5px solid #99ccff; 
    border-right:5px solid #99ccff;}
.HTArchiverBoxFoot{
    display:block;
    color:#999999;
    text-align:left;
    font-size:0.6em;
    text-align:right;
    background-color:#eeeeee;
    border-left:5px solid #99ccff; 
    border-right:5px solid #99ccff;}

.HTArchivesTitle{background-color:#99ccff;color:#ffffff;font-weight:bolder;color:#000000;/*border-top:1px solid #cccccc;*/border-bottom:1px solid #cccccc;}
.HTArchivesDescription{color:#999999;display:none;}

.HTArchivesBar{color:#ffffff;cursor:pointer;font-weight:bolder;}
a:hover.HTArchivesTitle{font-weight:bolder;}

.HTArchivesLessDesc{color:#cccccc;}
/*]]>*/