html,body{}
table.result{table-layout:fixed; border-collapse:collapse; border-spacing:0; margin:0 0 1em 0;}
    table.result caption{background:#eee; text-align:left; padding:0 .5em; margin:0;}
        table.result caption i{color:#f60;}
    table.result thead{border-width:1px 1px 0 1px; border-style:solid; border-color:#eee;}
        table.result th{background:#eee none; color:#666;}
     table.result tbody{border-width:0 0 0 1px; border-style:solid; border-color:#eee;}
        table.result td{border-width:0 1px 1px 0; border-style:solid; border-color:#eee;}

div.perf, div.rate{border:0; position:relative;}
    div.perf div, div.rate div{display:block; height:1em;}
    div.perf div{background:#e7f2fd none;}
    div.perf-best div{background:#9c0 none;}
    div.perf-fast div{background:#8ec2f5 none;}
    div.rate div{background:#eee none;}
    div.perf cite, div.rate cite{position:absolute; width:6em; margin-left:-3em; left:50%; top:0; text-align:center; font-style:normal;}
        div.perf-best cite, div.perf-fast cite{}
        div.perf-best cite{color:#fff;}
        div.perf-fast cite{color:#fff;}
        div.rate cite{width:10em; margin-left:-5em; color:#ccc;}

p{margin:0; padding:0;}
#btn-run{font-size:2em;}
h3{margin:.5em 0; padding:0 1em; background:#d6e9fc none; border-top:1px solid #0657b9;}
    h3 span{font-size:.6em; font-weight:normal; float:right; margin:.3em 0; color:#999;}
        h3 a{color:#666; text-decoration:none;}
#helpLink{float:right; color:#008000;}

